<p id="notice"><%= notice %></p>


<h1>Ads (<%= Ad.count %>) </h1>
<h2><%= link_to '[load]', load_ads_path %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :price) %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th><%= sort_link(@q, :search_link_id) %></th>
      <th><%= sort_link(@q, :tipologia) %></th>
      <th><%= sort_link(@q, :publicated_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= link_to(image_tag(ad.image_path, height: '100', width: '100'), ad, target: '_blank') %></td>
        <td><%= link_to ad.title, ad %></td>
        <td><%= ad.price %> €</td>
        <td><%= ad.status.name %></td>
        <td><%= ad.search_link.name %></td>
        <td><%= ad.tipologia %></td>
        <td><%= ad.publicated_at.strftime('%H:%M, %d.%m.%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
