<p id="notice"><%= notice %></p>

<h1>Ads (<%= Ad.count %>)</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :phone) %></th>
      <th><%= sort_link(@q, :price) %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th><%= sort_link(@q, :district) %></th>
      <th><%= sort_link(@q, :tipologia) %></th>
      <th><%= sort_link(@q, :publicated_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= link_to ad.title, ad.url, target: '_blank' %></td>
        <td><%= ad.phone %></td>
        <td><%= ad.price %> €</td>
        <td><%= ad.status %></td>
        <td><%= ad.district.name %></td>
        <td><%= ad.tipologia %></td>
        <td><%= ad.publicated_at.strftime('%H:%M, %d.%m.%Y') %></td>
        <td><%= link_to 'Show', ad %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
