<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @ad.url, @ad.url, target: '_blank' %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ad.location %>
</p>

<p>
  <strong>Offer ID:</strong>
  <%= @ad.offer_id %>
</p>

<p>
  <strong>Publicated at:</strong>
  <%= @ad.publicated_at.strftime('%H:%M, %d.%m.%Y') %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ad.phone %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %> €
</p>

<p>
  <strong>Status:</strong>
  <%= @ad.status %>
</p>

<p>
  <strong>District:</strong>
  <%= @ad.district.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ad.tipologia %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description.html_safe %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
