<p id="notice"><%= notice %>

<h2>
  <%= @ad.title %> <strong>(<%= link_to 'Original ad', @ad.url, target: '_blank' %></strong>)
</h2>

<div class = 'container'>
  <div class = 'jumbotron details'>
      <div class = 'row'>
        <% if @ad.status == 'new' %>
            <div class = 'col col-md-2'>
              <%= button_to 'Interesting', interesting_ad_path(@ad), method: :put, class: 'btn btn-primary' %>
            </div>
            <div class = 'col col-md-2'>
              <%= button_to 'Not interesting', not_interesting_ad_path(@ad), method: :put, class: 'btn btn-danger' %>
            </div>
        <% elsif @ad.status == 'interesting' %>
            <div class = 'col col-md-2'>
              <%= button_to 'Accepted', accepted_ad_path(@ad), method: :put, class: 'btn btn-primary' %>
            </div>
            <div class = 'col col-md-2'>
              <%= button_to 'Rejected', rejected_ad_path(@ad), method: :put, class: 'btn btn-danger' %>
            </div>
            <div class = 'col col-md-2'>
              <%= button_to 'In progress', in_progress_ad_path(@ad), method: :put, class: 'btn btn-info' %>
            </div>
        <% end %>
        <div class = 'col col-md-2'></div>
        <div class = 'col col-md-3'>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              Add appointment
            </button>
        </div>
        <div class="col col-md-3">
          <div class='row'>
            <% @ad.appointments.each do |appointment| %>
                <span><%= link_to "Appointment on: #{appointment.date.strftime('%d.%m.%Y')}", [appointment.ad, appointment] %></span>
            <% end %>
          </div>
        </div>
      </div>
    <hr>
    <div class='row'>
      <div class="col col-md-1">
        <div id="lightGallery">
          <% @ad.images_list.each do |image_url| %>
              <div data-src="<%= image_url %>">
                <img src="<%= image_url %>" class="img-rounded"  width="40" height="33"/>
              </div>
          <% end %>
        </div>
      </div>

      <div class="col col-md-4">
        <img src="<%= @ad.image_path %> " class="img-rounded"  width="304" height="236">
      </div>

      <div class="col col-md-3 details">
        <div class='row'>
          <strong>Location: </strong>
          <%= @ad.location %>
        </div>
        <div class='row'>
          <strong>Offer ID: </strong>
          <%= @ad.offer_id %>
        </div>
        <div class='row'>
            <strong>Publicated at: </strong>
            <%= @ad.publicated_at.strftime('%H:%M, %d.%m.%Y') %>
        </div>
        <div class='row'>
          <strong>Phone: </strong>
          <%= @ad.phone %>
          <%= link_to 'Edit', edit_ad_path(@ad) %>
        </div>
        <div class='row'>
          <strong>Price: </strong>
          <%= @ad.price %> €
        </div>
        <div class='row'>
          <strong>Status: </strong>
          <%= @ad.status %>
        </div>
        <div class='row'>
          <strong>District: </strong>
          <%= @ad.district.name %>
        </div>
      </div>
      <div class="col col-md-3">
        <ul class="list-group">
          <% @ad.notes.each do |note| %>
            <li class="list-group-item"><%= note.body %></li>
          <% end %>
          <li class="list-group-item">
            <button type="button" class="btn" data-toggle="modal" data-target="#myNoteModal">
              Add note
            </button>
          </li>
        </ul>

      </div>
    </div>
    <hr>
  <div class='description'>
     <%= @ad.description.html_safe %>
  </div>
</div>


<%= link_to 'Back', ads_path %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add an appointment</h4>
      </div>

      <%= simple_form_for @appointment, url: ad_appointments_path(@ad) do |f| %>
          <div class="modal-body">
            <%= f.input :date %>
            <%= f.input :address %>
            <%= f.input :note %>
          </div>

          <div class="modal-footer">
            <button type='button' class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%=f.submit 'Add', class: 'btn btn-primary' %>

          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myNoteModalLabel">Add a note</h4>
      </div>

      <%= simple_form_for @note, url: ad_notes_path(@ad) do |f| %>
          <div class="modal-body">
            <%= f.input :body %>
          </div>

          <div class="modal-footer">
            <button type='button' class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%=f.submit 'Add', class: 'btn btn-primary' %>

          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>


<script type="text/javascript">
    $(document).ready(function() {
        $("#lightGallery").lightGallery(
                {
                    mode: 'slide',
                    useCSS: true,
                    cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
                    easing: 'linear', //'for jquery animation',//
                    speed: 600,
                    addClass: '',

                    closable: true,
                    loop: false,
                    auto: false,
                    pause: 4000,
                    escKey: true,
                    controls: true,
                    hideControlOnEnd: false,

                    preload: 2, //number of preload slides. will exicute only after the current slide is fully loaded. ex:// you clicked on 4th image and if preload = 1 then 3rd slide and 5th slide will be loaded in the background after the 4th slide is fully loaded.. if preload is 2 then 2nd 3rd 5th 6th slides will be preloaded.. ... ...
                    showAfterLoad: true,
                    selector: null,
                    index: false,

                    lang: {
                        allPhotos: 'All photos'
                    },
                    counter: false,

                    exThumbImage: false,
                    thumbnail: true,
                    showThumbByDefault:false,
                    animateThumb: true,
                    currentPagerPosition: 'middle',
                    thumbWidth: 100,
                    thumbMargin: 5,


                    mobileSrc: false,
                    mobileSrcMaxWidth: 640,
                    swipeThreshold: 50,
                    enableTouch: true,
                    enableDrag: true,

                    vimeoColor: 'CCCCCC',
                    videoAutoplay: true,
                    videoMaxWidth: '855px',

                    dynamic: false,
                    dynamicEl: []
                }
        );
    });
</script>

