<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey, <%= @user.name %></h1>
<p>
  There are <%= @ads_number %> new apartments for you
</p>
<% @search_link_with_ads.each do |link_name, ads| %>
    <% if ads.present? %>
        <h2><%= link_name %></h2>
        <% ads.each do |ad| %>
            <p>
              <% if ad.image_path.present? %>
                <%= link_to(image_tag(ad.image_path, height: '100', width: '100') + ad.title, ad, target: '_blank') %>
              <% else %>
                  <%= link_to(ad.title, ad, target: '_blank') %>
              <% end %>
            </p>
        <% end %>
    <% end %>
<% end %>

<p>Have a great day!</p>
</body>
</html>
