<p id="notice"><%= notice %></p>

<h1>Search Links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_links.each do |search_link| %>
      <tr>
        <td><%= search_link.name %></td>
        <td><%= link_to search_link.url, search_link.url %></td>
        <td><%= search_link.site.url %></td>
        <td><%= link_to 'Show', search_link %></td>
        <td><%= link_to 'Edit', edit_search_link_path(search_link) %></td>
        <td><%= link_to 'Destroy', search_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Link', new_search_link_path %>
