<p id="notice"><%= notice %></p>

<h1>Price Ranges</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_ranges.each do |price_range| %>
      <tr>
        <td><%= price_range.from %></td>
        <td><%= price_range.to %></td>
        <td><%= link_to 'Show', price_range %></td>
        <td><%= link_to 'Edit', edit_price_range_path(price_range) %></td>
        <td><%= link_to 'Destroy', price_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price Range', new_price_range_path %>
