<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @appointment.address %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @appointment.ad %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
